<?php require 'Public/Inc/head.inc.php'; ?>
<link rel="stylesheet" href="__PUBLIC__/Plugin/FocusChart/css/index0521.css">
<script type="text/javascript" src="__PUBLIC__/Plugin/FocusChart/js/jquery-1.8.3.min.js"></script>
					<div class="row">
						<div class="12u" style="padding:0;">

							<!-- Banner -->
								<section id="banner">
<!-- <div id="main"> -->
	<div id="index_b_hero">
		<div class="hero-wrap">
			<ul class="heros clearfix">
				<li class="hero">
				<a id="jdtpic1" href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1430828144464_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1400225686925_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1431945288861_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1431864610956_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1431682421036_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1431252761602_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1431341253113_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/1429844270248_.jpg"></a></li>
				<li class="hero">
				<a href="http://sc.chinaz.com/" target="_blank">
				<img src="__PUBLIC__/Plugin/FocusChart/images/younger.jpg"></a></li>
			</ul>
		</div>
		<div class="helper">
			<a href="javascript:;" class="prev"><div class="mask-left"></div></a>
			<a href="javascript:;" class="next"><div class="mask-right"></div></a>
		</div>
	</div>
<!-- </div>	 -->
<script type="text/javascript" src="__PUBLIC__/Plugin/FocusChart/js/if.Common.Banner.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/FocusChart/js/index.js"></script>
<script type="text/javascript">
jQuery(function(){
	var len = jQuery(".heros li").length;
	jQuery(".heros li").each(function(index, element) {
	    len--;
	    jQuery(this).css("z-index", len);
	});
	jQuery(".hero").mousemove(function(){
		jQuery(".mask-left, .mask-right").show();
	});
	jQuery("#main").mouseleave(function(){
		jQuery(".mask-left, .mask-right").hide();
	});
})
</script>
								</section>

						</div>
					</div>
					<div class="row">
						<div class="12u" style="padding:0;">
								
							<!-- Intro -->
								<section id="intro">
								
									<div>
										<div class="row">
											<div class="4u">
												<section class="first">
													<span class="pennant"><span class="icon64 icon64-1"></span></span>
													<header>
														<h2>Ipsum consequat</h2>
													</header>
													<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
												</section>
											</div>
											<div class="4u">
												<section class="middle">
													<span class="pennant pennant-alt"><span class="icon64 icon64-2"></span></span>
													<header>
														<h2>Magna etiam dolor</h2>
													</header>
													<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
												</section>
											</div>
											<div class="4u">
												<section class="last">
													<span class="pennant pennant-alt2"><span class="icon64 icon64-3"></span></span>
													<header>
														<h2>Tempus adipiscing</h2>
													</header>
													<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
												</section>
											</div>
										</div>
									</div>
								
								</section>

						</div>
					</div>
					
				<!-- Head End -->
				</div>
			</div>
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>My Portfolio</h2>
									</header>
									<div>
										<div class="row">
											<div class="4u">
												<section class="box">
													<a href="http://sc.chinaz.com" class="image image-full"><img src="__PUBLIC__/Img/pic02.jpg" alt="" /></a>
													<header>
														<h3>Ipsum feugiat et dolor</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button button-alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u">
												<section class="box">
													<a href="http://sc.chinaz.com" class="image image-full"><img src="__PUBLIC__/Img/pic03.jpg" alt="" /></a>
													<header>
														<h3>Sed etiam lorem nulla</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button button-alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u">
												<section class="box">
													<a href="http://sc.chinaz.com" class="image image-full"><img src="__PUBLIC__/Img/pic04.jpg" alt="" /></a>
													<header>
														<h3>Consequat et tempus</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button button-alt">Find out more</a>
													</footer>
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u">
												<section class="box">
													<a href="http://sc.chinaz.com" class="image image-full"><img src="__PUBLIC__/Img/pic05.jpg" alt="" /></a>
													<header>
														<h3>Blandit sed adipiscing</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button button-alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u">
												<section class="box">
													<a href="http://sc.chinaz.com" class="image image-full"><img src="__PUBLIC__/Img/pic06.jpg" alt="" /></a>
													<header>
														<h3>Etiam nisl consequat</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button button-alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u">
												<section class="box">
													<a href="http://sc.chinaz.com" class="image image-full"><img src="__PUBLIC__/Img/pic07.jpg" alt="" /></a>
													<header>
														<h3>Dolore nisl feugiat</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button button-alt">Find out more</a>
													</footer>
												</section>
											</div>
										</div>
									</div>
								</section>

						</div>
					</div>
				</div>
			</div>

<?php require 'Public/Inc/tail.inc.php'; ?>