<?php require 'Public/Inc/head.inc.php'; ?>
					<div class="row">
						<div class="12u" style="padding-left:0;padding-top:1em;">
							<small style="float:left;margin:8px;">已选条件 ></small>				
							<div class="tagsinput-primary" style="width:50%;float:left;">
							  <input name="tagsinput" class="tagsinput" data-role="tagsinput" value="School, Teacher, Colleague" />
							</div>
						</div>
					</div>		

					<div class="row">
						<div class="12u" style="padding:0;">

							<!-- Banner -->
											<div style="width:1200px;height:220px;border:1px solid #1abc9c;border-radius:6px;">
											<?php for($i=0;$i<count($SelectTitle);$i++){ ?>
												<dl style="width:100%;height:25px;padding-top:10px;">
													<dt style="width:100px;float:left;margin-left:1em;"><small><?php echo $SelectTitle[$i]; ?> ></small></dt>
													<dd>
														<?php for($j=0;$j<count($SchoolSelect[$i]);$j++){ ?>
														<a href="#fakelink" class="btn btn-block btn-lg btn-info" style="width:70px;height:30px;float:left;padding-top: 3px;padding-left: 17px;margin-left:1em;margin-top:0;"><?php echo $SchoolSelect[$i][$j]; ?></a>
														<?php } ?>
													</dd>
												</dl>
											<?php } ?>	
											</div>

						</div>
					</div>
						
					<div class="row">
						<div class="12u" style="padding-left:0;padding-top:1em;text-align:center;">
							<table style="width:100%;height:auto;border-bottom:1px solid #2f4154;border-spacing:1px;border-collapse:separate;background-color:#CCCCCC;">
								<thead style="border-bottom:2px solid gray;border-spacing:0px;border-collapse:initial;">
									<tr style="background-color:#2f4154;height:50px;color:white;">
									<?php for($i=0;$i<count($TableHead);$i++){ 
											if($i == 0) $TableHeadTdWidth = "250px";
											else if($i == count($SchoolInfo) -1 ) $TableHeadTdWidth = "135px";
											else $TableHeadTdWidth = "auto";
									?>
										<td style="width:<?php echo $TableHeadTdWidth; ?>;"><?php echo $TableHead[$i]; ?></td>
									<?php } ?>
									</tr>
								</thead>
								<tbody>
									<?php for($i=0;$i<count($SchoolRst);$i++){ ?>
									<tr style="background-color:#FAFAFA;">
										<td>
											<img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/compas.svg" alt="Compas" class="tile-image big-illustration"  style="vertical-align:middle;">
											<small style="vertical-align:middle;"><?php echo $SchoolRst[$i]['universityname']; ?></small>
										</td>
										<td>
											<small><?php echo $SchoolRst[$i]['countryrank']; ?></small>
										</td>
										<td>
											<small><?php echo $SchoolRst[$i]['complexrank']; ?></small>
										</td>
										<td>
											<small><?php echo $SchoolRst[$i]['province']; ?></small>
										</td>
										<td>
											<small><?php echo $SchoolRst[$i]['university211']; ?></small>
										</td>
										<td>
											<small><?php echo $SchoolRst[$i]['belong']; ?></small>
										</td>
										<td>
											<small><?php echo $SchoolRst[$i]['property']; ?></small>
										</td>
										<td>
											<a href="#fakelink" class="btn btn-block btn-lg btn-info" style="width:auto;height:30px;padding-top: 3px;padding-left: 17px;margin-left:1em;margin-right:1em;margin-top:0;font-size:0.8em;">加入对比</a>
										</td>
									</tr>
									<?php } ?>
								</tbody>
							</table>
							<div class="pagination" style="margin:0 auto;">
					            <ul>
					              <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
					              <li class=""><a href="#fakelink">1</a></li>
					              <li class=""><a href="#fakelink">2</a></li>
					              <li class=""><a href="#fakelink">3</a></li>
					              <li class=""><a href="#fakelink">4</a></li>
					              <li class=""><a href="#fakelink">5</a></li>
					              <li class=""><a href="#fakelink">6</a></li>
					              <li class=""><a href="#fakelink">7</a></li>
					              <li class=""><a href="#fakelink">8</a></li>
					              <li class="next active"><a href="#fakelink" class="fui-arrow-right"></a></li>
				               </ul>
				            </div>
						</div>
					</div>
<?php require 'Public/Inc/tail.inc.php'; ?>