<script>
    	$("#curve_container").highcharts({
    		chart:{
    			backgroundColor:'transparent'
    		},
	        title: {
	            text: 'Monthly Average Temperature',
	            x: -20 //center
	        },
	        exporting :{
	        	url:'export/index.php',
	        	width:800
	        },
	        subtitle: {
	            text: 'Source: WorldClimate.com',
	            x: -20
	        },
	        xAxis: {
	            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
	        },
	        yAxis: {
	            title: {
	                text: 'Temperature (°C)'
	            },
	            plotLines: [{
	                value: 0,
	                width: 1,
	                color: '#808080'
	            }]
	        },
	        tooltip: {
	            valueSuffix: '°C'
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            borderWidth: 0
	        },
	        series: [{
	            name: 'Tokyo',
	            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
	        }, {
	            name: 'New York',
	            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
	        }, {
	            name: 'Berlin',
	            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
	        }, {
	            name: 'London',
	            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
	        }]
	    });
</script>

<pre style="display:none;">　
	1917年，著名教育和民主主义革命家蔡元培出任北京大学校长，他“循思想自由原则、取兼容并包之义“，对北京大学进行了思想解放和学术繁荣，北京大学从此日新月异。陈独秀、李大钊、毛泽东以及鲁迅、胡适等一批杰出人才都曾在北京大学任职或任教。 
　　1937年卢沟桥事变后，北京大学与清华大学、南开大学南迁长沙，共同组成长沙临时大学 。1938年初，临时大学迁往昆明，改称国立西南联合大学。西南联大汇聚三校菁华，以刚毅坚卓精神，维系中华教育命脉。抗战胜利后，北京大学返回故园，于1946年10月正式复学。 
　　中华人民共和国成立后，全国高校于1952年进行院系调整，北京大学成为一所以文理基础教学和研究为主的综合性大学，为国家培养了大批人才。据不完全统计，北京大学的校友和教师有近400位两院院士，中国人文社科界有影响的人士相当多也出自北京大学，并且产生了一批重大研究成果。 
　　改革开放以来，北京大学进入了一个前所未有的大发展、大建设的新时期，并成为国家“211工程”重点建设的两所大学之一。 
　　1998年5月4日，北京大学百年校庆之际，国家主席江泽民题词：“发扬北京大学爱国进步民主科学的优良传统为振兴中华做出更大贡献”，并在庆祝北京大学建校一百周年大会上发表讲话，发出了“为了实现现代化，我国要有若干所具有世界先进水平的一流大学”的号召。在国家的支持下，北京大学适时启动“创建世界一流大学计划”，从此，北京大学的历史又翻开了新的一页。 
　　2000年4月3日，北京大学与原北京医科大学合并，组建了新的北京大学。原北京医科大学的前身是国立北京医学专科学校，创建于1912年10月26日。20世纪三、四十年代，学校一度名为北平大学医学院，并于1946年7月并入北京大学。1952年在全国高校院系调整中，北京大学医学院脱离北京大学，独立为北京医学院。1985年成为国家首批“211工程”重点支持的医科大学。 
　　北京大学位于京城西郊，占地2661581平方米（3992.277亩）。学校现教职工16073人，29617名各类在校学生。现有199个博士点、221个硕士点、100个本科专业，以及覆盖139个专业的35个博士后流动站。北京大学拥有的教授、博士生导师、中科院院士及国家重点学科和国家重点实验室的数量均居全国高校之首。
</pre>
        		<div id="curve_container" style="width:100%;height:300px;">

				</div>
				<hr style="border-top:1px solid #CCCCCC;"/>
				<div>
					<ul>
						<li>
							<div class="demo-type-example">
					      		<span class="demo-text-note">中国语言文学</span>
					          <p>
					            <small>是全国中文学科中规模最大、学科最全、总体实力最强的系。本科现阶段设4个专业：中国文学、汉语语言学、古典文献学、应用语言学(中文信息处理)。这里也是北大文科院系中教授和博士生导师数量最多的院系，平均5个本科生就能拥有一位专业导师。中文系目前是按全系大专业招生，前两年不分专业，统一组织同学系统学习。第四学期开始由学生根据自己的志趣报名选择专业。</small>
					          </p>
				      		</div>
						</li>
						<li>
							<div class="demo-type-example">
					      		<span class="demo-text-note">光华管理学院</span>
					          <p>
					            <small>作为北京大学专门从事工商管理研究和教育的商学院，光华管理学院拥有一流的师资队伍，独立的学术思想和浓厚的学术氛围。为了体现交叉学科的特点，学院多年坚持文理兼收的原则，每年都有约五分之一的全国各省市自治区高考状元进入光华管理学院。</small>
					          </p>
				      		</div>
						</li>
						<li>
							<div class="demo-type-example">
					      		<span class="demo-text-note">经济学</span>
					          <p>
					            <small>现有经济学、国际经济与贸易、金融学、风险管理与保险学、财政学、环境资源与发展经济学等六个本科专业，经济学院也是极为国际性、开放性的学院，国际交流十分广泛，置身于此，可以放眼世界，胸怀天下。</small>
					          </p>
				      		</div>
						</li>
						<li>
							<div class="demo-type-example">
					      		<span class="demo-text-note">新闻与传播学</span>
					          <p>
					            <small>北京大学是“中国新闻学和新闻教育之摇篮”。早在1918年北大就开设了中国历史上第一门新闻学课程，建立了中国第一个新闻学研究团体，出版了中国第一本新闻学著作，创办了中国第一份新闻学期刊，为中国新闻学研究和新闻教育的发展奠定了基础。建国后，北大两度在全国率先开办新闻专业，毕业生大都成为我国新闻教育和新闻战线的骨干力量。</small>
					          </p>
				      		</div>
						</li>
					</ul>
				</div>