<script type="text/javascript" src="__PUBLIC__/Plugin/Highcharts/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/Highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/Highcharts/js/exporting.js"></script>
<?php require 'Public/Inc/head.inc.php'; ?>
<div class="row demo-samples" style="padding-top:1em;">
       <div class="col-xs-4" style="width:300px;padding-top:0px;">
          <div class="todo">
            <div class="todo-search" style="height:135px;padding:10px;">
            	<div style="float:left;width:50%;">
            	 	<img src="__PUBLIC__/Img/pic02.jpg" style="width:117px;height:117px;"/>
            	</div>
             	<div style="float:right;width:50%;">
             		<h5><strong>北京大学</strong></h5>
             		<small>211工程<br/>985院校</small>
             	</div>
            </div>
<?php
	$LeftBarList = array("院校简介","院校专业","院校历年分数线","院校全景","师资力量");
?>
            <ul>
              <?php for($i=0;$i<count($LeftBarList);$i++){ ?>
              <li <?php if($i==0){ ?>class="todo-done" <?php } ?>>
                <div class="todo-content">
                  <h4 class="todo-name">
         			<?php echo $LeftBarList[$i]; ?>
                  </h4>
                </div>
              </li>
              <?php } ?>
            </ul>
          </div><!-- /.todo -->
        </div><!-- /.col-xs-4 -->
        <div class="col-xs-8" style="width:900px;background-color:#F3F3F3;height:1540px;padding-top:30px;">
        	<div style="width:50%;border:1px solid #EEEEEE;height:300px;float:left;">
        		<div style="width:60%;height:100%;float:left;">
	        		<div style="padding:20px;"><img src="__PUBLIC__/Img/pic03.jpg" style="width:100%;height:210px;border:1px solid gray;"/></div>
	        		<div style="padding:0 20px 0 20px;">
	        			<a href="#fakelink" class="btn btn-block btn-lg btn-info" style="background-color:#3498DB;width:100px;height:35px;float:left;font-size:0.8em;padding:8px 0;">进入官网</a>
	        			<a href="#fakelink" class="btn btn-block btn-lg btn-info" style="background-color:#2980B9;width:100px;height:35px;float:right;margin-top:0;font-size:0.6em;padding:9px 0;">进入招生网站</a>
	        		</div>
        		</div>
        		<div style="width:40%;height:300px;float:left;padding:20px 15px 20px 0px;">
	        		<ul>
	        			<li style="border-bottom:1px dotted gray;height:35px;padding-top:5px;">
	        				所处城市：<small>北京</small>
	        			</li>
	        			<li style="border-bottom:1px dotted gray;height:70px;padding-top:5px;line-height:20px;">
	        				学校地址：<br/><small style="line-height:20px;">北京市海淀区颐和园路5号</small>
	        			</li>
	        			<li style="border-bottom:1px dotted gray;height:55px;padding-top:5px;line-height:20px;">
	        				招生电话：<br/><small style="color:black;">010-62751407</small>
	        			</li>
	        			<li style="height:50px;padding-top:5px;line-height:20px;">
	        				电子邮箱：<br/><small style="color:black;">bdzsb@pku.edu.cn</small>
	        			</li>
	        		</ul>
	        	</div>
        	</div>
        	<div style="width:50%;background-color:#EEEEEE;height:300px;float:right;">
				<pre style="font-size:16px;background-color:transparent;border:none;">
    北京大学创于1898年，初名京师大学堂，是第一所国立综合性大学，也是当时中国的最高教育行政机关。辛亥革命后，于1912年改为现名。 
    作为新文化运动的中心和“五四”运动的策源地，作为中国最早传播马克思主义和民主科学思想的发祥地，作为中国共产党最早的活动基地，北京大学为民族的振兴和解放、国家的建设和发展、社会的文明和进步做出了不可代替的贡献，在中国走向现代化的进程中起到了重要的先锋作用。爱国、进 步、民主、科学的传统精神和勤奋、严谨、求实、创新的学风在这里生生不息、代代相传。 <a href="#" style="text-decoration:underline;">详细</a>
				</pre>
			</div>
<script type="text/javascript">
		$.ajax({
			url:"?ReqType=map",
			type:"get",
			success:function(data){
				$("#InfoDiv").html(data);
			}
		})
</script>
			<div id="InfoDiv" style="width:100%;background-color:#EEEEEE;height:840px;float:left;"></div>
			<div class="row" style="float:left;">
			 <div class="col-xs-9" style="float:left;width:100%;">
	          <div class="demo-browser" style="margin:0;background:none;padding-top:0px;background-color:#DDDDDD;">
	            <div class="demo-browser-side">
	              <div class="demo-browser-author"></div>
	              <div class="demo-browser-action">
	                <a class="btn btn-danger btn-lg btn-block" href="http://twitter.com/monstercritic" target="_blank">
	                  <span class="fui-plus"></span>Follow
	                </a>
	              </div>
	              <h5>@monstercritic</h5>
	              <h6>
	                Tourist. Designer. NYC
	                <a href="http://shmidt.in" target="_blank">shmidt.in</a>
	              </h6>
	            </div>
	            <div class="demo-browser-content">
	              <img src="__PUBLIC__/Plugin/FlatUI/docs/assets/img/demo/browser-pic-1.jpg" alt="">
	              <img src="__PUBLIC__/Plugin/FlatUI/docs/assets/img/demo/browser-pic-2.jpg" alt="">
	              <img src="__PUBLIC__/Plugin/FlatUI/docs/assets/img/demo/browser-pic-3.jpg" alt="">
	              <img src="__PUBLIC__/Plugin/FlatUI/docs/assets/img/demo/browser-pic-4.jpg" alt="">
	              <img src="__PUBLIC__/Plugin/FlatUI/docs/assets/img/demo/browser-pic-5.jpg" alt="">
	              <img src="__PUBLIC__/Plugin/FlatUI/docs/assets/img/demo/browser-pic-6.jpg" alt="">
	            </div>
	          </div>
	        </div>
			</div>
        </div>
			
</div>
<?php require 'Public/Inc/tail.inc.php'; ?>