<?php require 'Public/Inc/head.inc.php'; ?>
<div class="row demo-tiles" style="margin-bottom:1em;">
  <div class="col-xs-3">
    <div class="tile" style="height:600px;">
      <img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/compas.svg" alt="Compas" class="tile-image big-illustration">
      <h3 class="tile-title">北京大学</h3>
      <hr style="border-top:1px solid black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <a class="btn btn-primary btn-large btn-block" href="" style="position:absolute;bottom:1em;width:90%;">√</a>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="tile" style="height:600px;">
      <img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/loop.svg" alt="Infinity-Loop" class="tile-image">
      <h3 class="tile-title">清华大学</h3>
      <hr style="border-top:1px solid black;"/>
      <p>Vector-based shapes and minimum of layer styles.</p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <a class="btn btn-primary btn-large btn-block" href="" style="position:absolute;bottom:1em;width:90%;">√</a>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="tile" style="height:600px;">
      <img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
      <h3 class="tile-title">大连理工大学</h3>
      <hr style="border-top:1px solid black;"/>
      <p>Easy to add or change elements. </p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <a class="btn btn-primary btn-large btn-block" href="" style="position:absolute;bottom:1em;width:90%;">√</a>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="tile tile-hot" style="height:600px;">
      <img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/ribbon.svg" alt="ribbon" class="tile-hot-ribbon">
      <img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/chat.svg" alt="Chat" class="tile-image">
      <h3 class="tile-title">四川大学</h3>
      <hr style="border-top:1px solid black;"/>
      <p>Your likes, shares and comments helps us.</p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <hr style="border-top:1px dotted black;"/>
      <p>100% convertable to HTML/CSS layout.</p>
      <a class="btn btn-primary btn-large btn-block" href="" style="position:absolute;bottom:1em;width:90%;">√</a>
    </div>

  </div>
</div> <!-- /tiles -->
<hr style="border-top:1px solid #eff0f2;margin-bottom:1em;"/>
<div class="row demo-tiles" style="margin-bottom:1em;padding-top:1em;padding-left:15px;padding-right:15px;">
	<div class="col-xs-3" style="padding-top:1em;width:100%;background-color:#eff0f2;height:235px;">
		<div class="col-xs-3" style="height:200px;">
			<div style="float:left;width:50%;height:100%;background-color:#CFCFCF;">
				<img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
		 		<h3 class="tile-title">四川大学</h3>
			</div>
			<div style="float:left;width:50%;height:100%;padding-top:0.8em;background-color:#CCCCCC;">
				<p style="font-size:0.9em;">Your likes, shares and comments helps us.</p>
				<p style="font-size:0.9em;">100% convertable to HTML/CSS layout.</p>
			</div>
		</div>
	    <div class="col-xs-3" style="height:200px;">
	    	<div style="float:left;width:50%;height:100%;background-color:#CFCFCF;">
				<img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
		 		<h3 class="tile-title">四川大学</h3>
			</div>
			<div style="float:left;width:50%;height:100%;padding-top:0.8em;background-color:#CCCCCC;">
				<p style="font-size:0.9em;">Your likes, shares and comments helps us.</p>
				<p style="font-size:0.9em;">100% convertable to HTML/CSS layout.</p>
			</div>
	    </div>
	    <div class="col-xs-3" style="height:200px;">
	    	<div style="float:left;width:50%;height:100%;background-color:#CFCFCF;">
				<img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
		 		<h3 class="tile-title">四川大学</h3>
			</div>
			<div style="float:left;width:50%;height:100%;padding-top:0.8em;background-color:#CCCCCC;">
				<p style="font-size:0.9em;">Your likes, shares and comments helps us.</p>
				<p style="font-size:0.9em;">100% convertable to HTML/CSS layout.</p>
			</div>
	    </div>
	    <div class="col-xs-3" style="height:200px;">
	    	<div style="float:left;width:50%;height:100%;background-color:#CFCFCF;">
				<img src="__PUBLIC__/Plugin/FlatUI/img/icons/svg/pencils.svg" alt="Pensils" class="tile-image">
		 		<h3 class="tile-title">四川大学</h3>
			</div>
			<div style="float:left;width:50%;height:100%;padding-top:0.8em;background-color:#CCCCCC;">
				<p style="font-size:0.9em;">Your likes, shares and comments helps us.</p>
				<p style="font-size:0.9em;">100% convertable to HTML/CSS layout.</p>
			</div>
	    </div>
	</div>
</div>
				</div>
			</div>
<?php require 'Public/Inc/tail.inc.php'; ?>